#FeedPlus{
cursor:pointer; display:inline-block;
}

#FeedPlus a{
    display:inline;
    margin-right: 0;
    padding-right: 0;
}

#img_plus{
    width: 15px;
    height: 15px;
    padding:0;
    margin:0;

}

.loader {
    margin:auto;
    width: 300px;
    height: 300px;
    background: url("chrome-extension://__MSG_@@extension_id__/img/logo.png") no-repeat  ;
    animation: spin 2s  linear infinite;
}

#loading_status{width:100%; margin-top: 2em; text-align: center; font-weight: bold; font-size: 1.2em;}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.PostsIndex__topics{width:12em;}
.filter_content{display:none; max-width: inherit;margin-top: 1em;}

.category_filter{cursor: pointer;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.sidebar-content .Topics__title
{
    color:white;
    font-size: 1.5em;
    text-align: center;

}

.menu li a {
    display: inherit;}
.sidebar-content select{}
.sidebar-content option{color: #3756a0;background-color: white; }
.sidebar-content .category_filter{font-size: 1.2em; margin-left: 1em;}
.sidebar-content .filter_content, .sidebar-content .parameters{font-size: 1.1em; margin-left: 1em;}

.sidebar-content #nb_posts, .filter_content input,.sidebar-content .filter_content textarea{background-color: hsla(0,0%,100%,.05);font-size: 1em; }
.sidebar-content .filter_content label{margin-left: 0.5em; font-size: 1.1em;}

.sidebar-content .select_box{

    position: relative;
    display: inline-block;
    margin-left:10%;margin-right: 10%;
    width:80%;

}
.sidebar-content .select_box:after{
    content: '';
    position: absolute;
    right: 4px;
    top: 11px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
    pointer-events: none;
}
.sidebar-content .select_box select{

    width: 100%;
    background-color: hsla(0,0%,100%,.05);color: white;font-size: 1em;
    border-color: white;
    padding:0.4em;
    padding-right: 10px;
    outline: none;

}
#validate_settings{
    margin-top: 3em;
    border: solid #3498db 3px;
    cursor: pointer;
    display: inline-block;
    padding: 1em;
}
.loader_2{vertical-align: middle;
    display: inline-block;}
.loader_2 div{
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    margin-left: 0em;
    height: 30px;
    animation: spin 2s linear infinite;
}
