.stop_del{
  position:absolute;
  cursor: pointer;
  right:0;
}

.delegations li{
  width:100%;
}

.delegations h3{margin-bottom: 1em;}

.del_busy button {

  background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    margin-right:1em;
}

.theme-dark #delegateButton{
color:white;
border-color: white;

}

.UserWallet__buysp 
{
  float: right !important;
}

#list_delegators, #list_delegee
{
  font-size: 13.5px;
  font-weight: normal; 
}

#popoverDelegation
{
  padding-left: 5px;
  padding-right: 5px;
  cursor:pointer;
}

.delegationDiv .popover, .UserWalletSummary__value .popover{
  width:300px;
}
