.price-item{
	min-height: 40px;
	height: 100% !important;
	text-align: center;
	
	
}

.price-item > a{
	font-size: 14px;
	color: black !important;
	line-height: 1rem;
	min-height: 40px;
	vertical-align: middle;
	padding-top: 8px;
}

.price-item > a:hover{
	background-color: #f6f6f6 !important;
    color: #049173 !important;
}