#FeedPlus{
cursor:pointer; display:inline-block;
}

#FeedPlus a{
    display:inline;
    margin-right: 0;
    padding-right: 0;
}

#img_plus{
    width: 15px;
    height: 15px;
    padding:0;
    margin:0;

}

.loader {
    margin:auto;
    width: 300px;
    height: 300px;
    background: url("chrome-extension://__MSG_@@extension_id__/src/img/logo.png") no-repeat  ;
    background-size: contain;
    animation: spin 2s  linear infinite;
}

#loading_status{width:100%; margin-top: 2em; text-align: center; font-weight: bold; font-size: 1.2em;}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.PostsIndex__topics{width:12em;}
.filter_content{display:none; max-width: inherit;margin-top: 1em;}
.PostSummary__image{margin-right: 1em;}
.PostsIndex__left li{margin-bottom: 1em;}
.PostSummary__reblogged_by{margin-left: 1em;}
.category_filter{cursor: pointer;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.sidebar-content .Topics__title
{
    color:white;
    font-size: 1.5em;
    text-align: center;

}

.menu li a {
    display: inherit;}
.sidebar-content select{}
.sidebar-content option{color: #3756a0;background-color: white; }
.sidebar-content .category_filter{font-size: 1.2em; margin-left: 1em;}
.sidebar-content .filter_content, .sidebar-content .parameters{font-size: 1.1em; margin-left: 1em;}

.sidebar-content #nb_posts, .filter_content input,.sidebar-content .filter_content textarea{background-color: hsla(0,0%,100%,.05);font-size: 1em; }
.sidebar-content .filter_content label{margin-left: 0.5em; font-size: 1.1em;}

.sidebar-content .select_box{

    position: relative;
    display: inline-block;
    margin-left:10%;margin-right: 10%;
    width:80%;

}
.sidebar-content .select_box:after{
    content: '';
    position: absolute;
    right: 4px;
    top: 11px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
    pointer-events: none;
}
.sidebar-content .select_box select{

    width: 100%;
    background-color: hsla(0,0%,100%,.05);color: white;font-size: 1em;
    border-color: white;
    padding:0.4em;
    padding-right: 10px;
    outline: none;

}
#validate_settings{
    margin-top: 3em;
    border: solid #3498db 3px;
    cursor: pointer;
    display: inline-block;
    padding: 1em;
}
.loader_2{vertical-align: middle;
    display: inline-block;}
.loader_2 div{
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    margin-left: 0em;
    height: 30px;
    animation: spin 2s linear infinite;
}

/* changing to grid/list/big view */
.feedstyle{text-align: right; position:absolute; min-width:160px;}
.feedstyle span{
  cursor: pointer;
  display: inline-block;
  padding: 0 6px;
  background: #f2f2f2;
  border-radius: 2px;
  height: 31px;
  line-height: 25px;
}
.feedstyle span img{height:13px;}
.feedstyle span:hover{background:#06D6A9;}
.feedstyle span.active{background:#CCC}

  .PostsIndex__left li.grid-view {
      width:50%;
        margin-bottom:0px;
        float:left;
      position:relative;
  }
  @media screen and (min-width: 1024px) {
  .PostsIndex__left li.grid-view {
      width:33.33%;
  }
  }

li.grid-view .PostSummary__reblogged_by, li.big-view .PostSummary__reblogged_by{
  position:absolute;
  top: 9px;
  left: 1px;
  border-radius:3px;
  background:rgba(0, 0, 0, .7);
  padding-right:10px;
  font-size:0;
}
li.grid-view .Icon.reblog, li.big-view .Icon.reblog{margin-top:-10px; padding:0 20px 0 5px;}
li.grid-view .PostSummary__reblogged_by .UserNames, li.big-view .PostSummary__reblogged_by .UserNames{font-size:12px;}
li.grid-view .PostSummary.with-image .PostSummary__reblogged_by .Icon.reblog, li.big-view .PostSummary.with-image .PostSummary__reblogged_by .Icon.reblog{ margin-left:0;}
li.grid-view .PostSummary.with-image .PostSummary__image, li.big-view .PostSummary.with-image .PostSummary__image{
  width:100%;
  height:130px !important;
  float:none;
  display:block;
  border-radius:5px;
  overflow:hidden;
  margin-bottom:3px;
}
li.grid-view .PostSummary.with-image .PostSummary__reblogged_by, li.grid-view .PostSummary.with-image .PostSummary__content, li.big-view .PostSummary.with-image .PostSummary__reblogged_by, li.big-view .PostSummary.with-image .PostSummary__content{
  margin-left:5px;
  padding:2px;
}

li.grid-view .PostSummary__header{height:41px; overflow: hidden;}
li.grid-view .PostSummary__body{display:none;}

li.grid-view .VotesAndComments {
     white-space:normal;
     font-size:13px;
}
li.grid-view .Voting__button, li.big-view .Voting__button{cursor:pointer;}
li.grid-view .PostSummary__footer .DropdownMenu, li.grid-view .VotesAndComments .Reputation{font-size:11px;}
li.grid-view .PostSummary__footer .DropdownMenu{
  top: -1px;
  left: 3px;
}
li.grid-view .VotesAndComments{margin-top:-3px;}

/* big view*/
.PostsIndex__left li.big-view {
    width:70%;
    position:relative;
    margin:auto;
    margin-bottom: 1em;
}
li.big-view .PostSummary.with-image .PostSummary__image{
  height:300px !important;

}
li.big-view .PostSummary__footer{
  padding-bottom:15px;
  padding-top:15px;
  border-bottom:#06D6A9 2px solid;}
