.loginIcon
{
  width:36px;
  height:36px;
  display: inline-block;
}
.loginIconBusy
{
  width:36px;
  height:36px;
  display: inline-block;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  vertical-align: middle;
}
