#batch_buy{
  font-size: 13px;
  margin-left: 20px;
}

#input_sm {
  width: 50px;
  display: none;
  margin-top:5px;
  margin-left: 10px;
  color: black;
  border-radius: 5px;
}

.select-sm  {
  margin-top: 10px !important;
  margin-left: 30px;
}

.select-sm select{
  text-transform: uppercase;
}

#market_results {
  display: inline-block;
  font-size: 14px !important;
  margin-top: 8px;
}
