#batch_buy{
  font-size: 13px;
  margin-left: 20px;
}

#input_sm {
  width: 50px;
  display: none;
  margin-top:5px;
  margin-left: 10px;
}

.select-sm  {
  margin-top: 10px !important;
  margin-left: 30px;
}

.select-sm select option{
  text-transform: uppercase;
}
