#disclaimer_steem_monster {
	margin-bottom: 0px;
}

#image_pack {
	height: 420px;
	width: 300px;
}

.image_pack_div {
	text-align: center;
}

.total_transaction {
	width: 100%;
	text-align: right;
}

.input-group-label {
	padding-right: 1rem;
	padding-left: 1rem;
	min-width: 7rem;
	text-align: center;
}

.purchase-pack {
	width: 100%;
}
.form_buy_pack {
	margin-top: 65px;
}
.container-steem-monster {
	padding: 0px !important;
	margin:0px !important;
}
