/* Vote list post */

.Voting__voters_list ul.VerticalMenu li span.vote-weight,
.Voting__voters_list ul.VerticalMenu li span.vote-dollar {
  padding: 0px;
  padding-top: 2px;
  padding-left: 5px;
  color:#376FA7 !important;
}

.Voting__voters_list ul.VerticalMenu li {
    display: flex;
}


/* vote tab */

.votes-history-type {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.switch-field {
  display: inline-block;
  overflow: hidden;
}
.switch-title {
  margin-bottom: 6px;
}
.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
.switch-field label {
  float: left;
  display: inline-block;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 0px 14px;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}
.switch-field label:hover {
  cursor: pointer;
}
.switch-field input:checked + label {
  background-color: #1a5099;
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
.UserProfile__tab_content_VotesTab {
  padding-bottom: 60px;
}
.UserProfile__tab_content_VotesTab .VotesTab {
  padding-bottom: 20px;
}
.UserProfile__tab_content_VotesTab .VotesTabLoadMore button {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid rgb(220, 220, 220);
  display: inline-block;
  cursor: pointer;
  color: rgb(119, 119, 119);
  font-size: 17px;
  padding: 10px 24px;
  text-decoration: none;
}
.UserProfile__tab_content_VotesTab .VotesTab .vote {
  display: flex;
  align-items: center;
}
.UserProfile__tab_content_VotesTab .VotesTab .votes-container:not(.show-incoming) .vote.vote-incoming {
  display: none;
}
.UserProfile__tab_content_VotesTab .VotesTab .votes-container:not(.show-outgoing) .vote.vote-outgoing {
  display: none;
}
.UserProfile__tab_content_VotesTab .VotesTab .vote .Userpic {
  margin: 5px;
  border: solid 1px #cacaca;
  min-width: 48px;
}
.UserProfile__tab_content_VotesTab .VotesTab .vote .vote-info {
  flex-shrink: 10;
  max-width: calc(100% - 55px);
  display: inline-block;
  padding: 0px 10px;
}
.UserProfile__tab_content_VotesTab .VotesTab .vote .action {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}
.UserProfile__tab_content_VotesTab .VotesTab .vote .timeago {
  white-space: nowrap;
  padding: 0px;
  color: #888;
  display: inline-block;
  font-size: 0.9em;
  vertical-align: top;
  margin-top: -5px;
}
.UserProfile__tab_content_VotesTab .VotesTab .vote .vote-weight {
  white-space: nowrap;
  padding-left: 20px;
  color: #888;
  display: inline-block;
  font-size: 0.9em;
  vertical-align: top;
  margin-top: -5px;
}
.UserProfile__tab_content_VotesTab .VotesTab .vote .vote-dollar {
}

@media screen and (max-width: 500px) {
  .UserProfile__tab_content_VotesTab .VotesTab .vote .smi-vote-permlink {
    display: block;
    margin-top: -7px;
  }
}

/* External link tab */

.UserProfile__top-nav .smi-external-links-menu .dropdown-pane > span {
  padding-left: 15px;
  font-weight: 600;
  display: block;
  padding-top: 3px;
  font-size: 0.8em;
}
.UserProfile__top-nav .smi-external-links-menu .menu>li>a {
  transition: none;
  -webkit-transform: none;
  transform: none;
  padding: .7rem 1rem;
  color: #333;
  background-color: transparent;
}
.UserProfile__top-nav .smi-external-links-menu .VerticalMenu>li>a:hover {
  background-color: #f0f0f0;
}
.UserProfile__top-nav .smi-external-links-menu .menu>li>a.active {
  background-color: inherit;
  color: inherit;
  font-weight: inherit;
}
@media screen and (min-width: 40em) and (max-width: 1300px) {
  .UserProfile__top-menu {
    position: relative;
  }
  .UserProfile__top-nav .smi-external-links-menu.not-me .dropdown-pane {
    right: 0px;
  }
}


/* Search Bar */

html.smi-header-search .show-for-medium.Header__search > a {
  display: none !important;
}
.smi-search-container {
  display: flex;
  padding-right: 14px;
  margin-left: 20px;
}
.smi-search-container .smi-input-container {
  display: inline-block;
  width: 0px;
  overflow: hidden;
  transition: width 0.3s;
}
.smi-search-container.smi-search-open .smi-input-container {
  width: 20%;
}
@media screen and (max-width: 1200px) {
  .smi-search-container.smi-search-open .smi-input-container {
    width: 170px;
  }
}

@media screen and (max-width: 1000px) and (min-width:840px) {
  .smi-search-container.smi-search-open .smi-input-container {
    margin-top:55px;
  }
}
.smi-search-container .smi-search-button {
  margin: auto 1px !important;
}
.smi-search-container .smi-search-result-container {
  display: none;
}
.smi-search-container.smi-search-open .smi-search-result-container {
  position: absolute;
  display: block;
  position: absolute;
  height: 80vh;
  width: 450px;
  margin-left: -80px;
  border: none;
  box-shadow: 0 0 5px 0 #404040;
  background: white;
}
.smi-search-result-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}


/* Mentions tab */

.mentions-type {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.UserProfile__tab_content_MentionsTab {
  padding-bottom: 60px;
}
.UserProfile__tab_content_MentionsTab .MentionsTab {
  padding-bottom: 20px;
}
.UserProfile__tab_content_MentionsTab .MentionsTabLoadMore button {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid rgb(220, 220, 220);
  display: inline-block;
  cursor: pointer;
  color: rgb(119, 119, 119);
  font-size: 17px;
  padding: 10px 24px;
  text-decoration: none;
}
.UserProfile__tab_content_MentionsTab .thanks-furion {
  float: right;
  font-size: 14px;
  text-transform: none;
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

.PostSummary__image {
  height: 78px !important;
  background-color: #fefefe !important;
  background-size: cover !important;
}


/* Vote weight slider */

#Voting__power {
  font-size: 0.6em;
}

.voting_weight_dollars {
  position: absolute;
  margin-left: 2rem;
  margin-top: 10px;
  width: 3rem;
  float: left;
  text-align: right;
  color: #8a8a8a;
  line-height: 2.6rem;
}
.Voting__adjust_weight_down .voting_weight_dollars {
  margin-left: 0;
  margin-top: 6px;
}
p.smi-vote-total {
  padding-top: 20px;
  font-style: italic;
}
span.after-downvote-total-dollar {
  font-weight: bold;
  font-style: normal;
}


/* Follower Following */

.smi-followers-table-wrapper .dataTables_length select {
  width: 100px;
  display: inline-block;
}
.smi-followers-table-wrapper .dataTables_filter input {
  width: 200px;
  display: inline-block;
}
.smi-followers-table-wrapper .dataTables_length,
.smi-followers-table-wrapper .dataTables_filter {
  padding-bottom: 10px;
}
.smi-followers-table-wrapper .Userpic {
  margin: 0px;
  margin-right: 10px;
  border: solid 1px #cacaca;
  min-width: 32px;
  width: 32px;
  height: 32px;
}
.dtff{
  width: 100% !important;
}


/* Submit page */

/* Markup editor */
@media screen and (min-width: 900px) {
  .SubmitPost.smi-advanced-editor > .ReplyEditor {
    width: 100%;
    max-width: 100%;
  }
  .SubmitPost.smi-advanced-editor form.vframe {
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  .SubmitPost.smi-advanced-editor form.vframe > div {
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
  .SubmitPost.smi-advanced-editor form.vframe > div.Preview {
    position: absolute;
    top: 28px;
    left: calc(50% + 5px);
  }
  .SubmitPost.smi-advanced-editor .ReplyEditor__body textarea {
    height: calc(100vh - 380px);
    padding-bottom: calc(100vh - 380px - 80px);
  }
  .SubmitPost.smi-advanced-editor form.vframe > div.Preview .MarkdownViewer {
    height: calc(100vh - 380px);  
    overflow-y: auto;
  }
  @-moz-document url-prefix() {
    .SubmitPost.smi-advanced-editor .ReplyEditor__body textarea {
      padding-bottom: 0px;
    }
  }
}


/* GIF PICKER */
.smi-gif-picker-button-container {
  position: relative;
  width: 100%;
  height: 0px;
  margin-top: 7px;
  margin-bottom: 40px;
}
.smi-gif-picker-button-container > button,
.smi-gif-picker-button-container > button:focus {
  background-color: #9933FF;
  position: absolute;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  padding: 3px 6px;
  margin: 0px;
  outline: none;
}
.smi-gif-picker-button-container > button:hover {
  background-color: #6b29ad;
  color: #fefefe;
}
.smi-gif-picker-container {
  display: none;
}
.smi-gif-picker-opened .smi-gif-picker-container {
  display: block;
}
.smi-gif-picker-container {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10000;
}
.PostsList__post_container .smi-gif-picker-container {
  bottom: auto;
}
.smi-gif-picker-container2 {
  position: relative;
  border-radius: 3px;
  width: 100%;
  max-width: 56rem;
  box-shadow: 0 0 5px 0 #404040;
  padding: 20px;
  padding-bottom: 10px;
  margin: 0 auto;
  height: 700px;
  max-height: 100vh;
  bottom: 10px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
}
@media print, screen and (max-width: 960px) {
  .smi-gif-picker-container2 {
    max-width: 100%;
    bottom: 0px;
  }
}
.smi-gif-picker-container .close-button {
  top: -3px;
  right: -8px;
}
.smi-gif-picker-container2 .gif-form {
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 10px;
}
.smi-gif-picker-container .gif-form label p {
  margin-bottom: 2px;
}
.smi-gif-picker-container .gif-form label p a.button {
  padding: 3px;
  margin: 0px;
  outline: none;
  margin-top: -9px;
  margin-left: 20px;
}
.smi-gif-picker-container .res-container {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
}
.smi-gif-picker-container .res-container-wrapper {
  margin: -13px;
}
.smi-gif-picker-container .res-container .results {
  min-height: 100px;
}
/* https://codepen.io/badwolf7/pen/xOxBEx?page=2 */
.smi-gif-picker-container .res-container {
  transition: all 0.4s ease;
}
.smi-gif-picker-container .res-container .title{
  font-size: 1.2em;
  padding: 0px 10px;
  text-transform: capitalize;
}
.smi-gif-picker-container .res-container .title span{
  text-transform: initial;
  color: #9933FF;
}
.smi-gif-picker-container .res-container .results
  .caption{
    text-transform: capitalize;
    opacity: 0 !important;
  }
.smi-gif-picker-container .res-container .results
  img{
    cursor: pointer;
  }
.smi-gif-picker-container .res-container .results  
  a.still:after{
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    width: 50px;
    height: 50px;
    background: #18181A;
    color: #FFFAFA;
    border-radius: 50%;
    content:"►";
    font-size: 1.4em;
    text-align: center;
    padding-left: 3px;
    line-height: 50px;
    box-sizing: border-box;
  }
.smi-gif-picker-container .res-container .results  
  a.still .caption{
    opacity: 1 !important;
  }