table.sppHistoryTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.sppHistoryTable > tr > td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.sppHistoryTable > tr:nth-child(even) {
    background-color: #dddddd;
}

.sppHistoryModal {
	min-width: 70%;
}

.caption-how-to-earn {
	text-align: center;
	font-weight: bold;
    font-size: 20px;
}

.description-how-to-earn {
	text-transform: none;
    color: grey;
}

.description-how-to-earn.description-link:hover{
	text-decoration: underline;
}

.title-how-to-earn {
	font-weight: bold;
}

#modalTitle {
    margin-bottom: 20px;
}

.unslider {
    margin-top: 40px;
}

.label_buy_spp{
    min-width: 2rem !important;
}

.disclaimerBuySpp, .disclaimerDelegateSpp, .errorAmountDelegationMessage {
    margin-bottom: 1rem;
    font-style: italic;
    text-transform: none;
}
.errorAmountDelegationMessage {
    color: red;
}

#delegationSPPButton.disabled, #delegationSPPButton.disabled:hover {
    background: #e6e6e6 !important;
    cursor: not-allowed !important;
    color: rgb(31, 191, 143) !important;
}