#overlay_utopian .reveal {
    height: 600px !important;
}

.easy-autocomplete,
.easy-autocomplete-container,
#autocomplete-git {
    width: 100% !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#overlay_utopian h3 {
    margin-bottom: 30px;
    font-weight: bold;
    padding-bottom: 5px;
}

#overlay_utopian h4 {
    margin-bottom: 10px;
    margin-top: 20px;
}

#overlay_utopian h3:before {
    height: 40px !important;
    width: 52px;
    margin-right: 15px;
    background-size: contain;
    display: inline-block;
    content: "";
    background-image: url('chrome-extension://__MSG_@@extension_id__/src/img/shortcuts/utopian.png') !important;
}

#overlay_utopian select {
    margin-bottom: 10px !important;
}

#disclaimer_utopian {
    font-size: 1em;
}

#autocomplete-git {
    padding-top: 8px;
    line-height: normal;
    padding-bottom: 8px;
}

#ok_utopian {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#ok_utopian:disabled {
    border-color: grey;
    color: grey;
    cursor: not-allowed;
}

#ok_utopian:disabled:hover {
    border-color: grey;
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

#post-utopian,
#cancel-utopian,
#edit-utopian {
    font-weight: bold;
    background: white;
    padding: 1em;
    cursor: pointer;
    margin: 1em;
    display: inline-block;
}

#post-utopian {
    margin-left: 0px !important;
}